workflows/personal trainer/D2WNRVB9UZ7azFyu.json
{
  "active": false,
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Training data to Vector Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Insert Training data to Vector Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Training data to Vector Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T15:02:14.009Z",
  "id": "D2WNRVB9UZ7azFyu",
  "meta": null,
  "name": "POST training data",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "221b1864-3af8-44a1-af44-daff60da38f3",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        360,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "date",
                "value": "={{ $json.date }}"
              }
            ]
          }
        }
      },
      "id": "cd4c4821-ea1d-4dc8-9a16-1bfd5d182011",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        360,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_personal_trainer",
        "options": {}
      },
      "id": "7efe7b90-0cb0-408e-93d6-c23a1ffca688",
      "name": "Insert Training data to Vector Database",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        260,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data"
            },
            {
              "name": "title"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        0
      ],
      "id": "adab1cbf-753a-4d6d-898a-3891ad3a9e89",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42022d17-a85e-4b57-af41-a626dc5b92bf",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        200,
        200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-04T16:47:35.320Z",
      "updatedAt": "2025-05-04T16:47:35.320Z",
      "id": "YQIUcSyZE62Z4yRL",
      "name": "personal trainer"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T15:21:30.000Z",
  "versionId": "e1e630e9-675c-4047-b103-3282e550bd22"
}