workflows/personal trainer/Ji2dDmHdrGfg8lw2.json
{
  "active": false,
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Training resources to Vector Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Training resources to Vector Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Insert Training resources to Vector Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-06T15:55:54.226Z",
  "id": "Ji2dDmHdrGfg8lw2",
  "meta": null,
  "name": "POST resource - personal trainer",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "title"
            },
            {
              "name": "data"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        60
      ],
      "id": "6462e4df-73a6-47bd-8c77-542882a721c9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "9be25b32-06fc-4771-a952-710a701246e4",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        540,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "date",
                "value": "={{ $json.date }}"
              }
            ]
          }
        }
      },
      "id": "38be9804-7045-40b5-98f5-8588bb4c8d5b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        540,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "faea466b-d768-4a3f-a7f0-9f9b80503627",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        380,
        260
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_personal_trainer_resources",
        "options": {}
      },
      "id": "278b7f44-9126-4eda-85d1-52289ba29e62",
      "name": "Insert Training resources to Vector Database",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        440,
        60
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aiadaptiv.com/youtube/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://youtu.be/0qkVRLjDCiI?si=Wasm_Jfnd7iLAgZT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        -100
      ],
      "id": "beaf8ccf-7114-4d76-9dc9-672849bd72d6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VR2HADCVzHyCEv4F",
          "name": "aiAdaptiv"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-04T16:47:35.320Z",
      "updatedAt": "2025-05-04T16:47:35.320Z",
      "id": "YQIUcSyZE62Z4yRL",
      "name": "personal trainer"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T16:59:18.000Z",
  "versionId": "3537e52b-5a75-4be1-a990-3bb97dc64062"
}