workflows/C76bdtACUqxapmoI.json
{
  "active": false,
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Load files from local disc",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Load files from local disc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Load files from local disc",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Create Vectors from Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Create Vectors from Notion",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Create Vectors from Notion",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Insert Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Insert Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert Vectors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Insert Vectors1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Insert Vectors1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-09T22:00:56.848Z",
  "id": "C76bdtACUqxapmoI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Knowledgebase",
  "nodes": [
    {
      "parameters": {},
      "id": "fc18148f-7f6d-4bd3-92e6-7081ec846c88",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -400,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "5885f147-7077-410e-88d6-ee788be46b54",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        360,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6a968ac5-5ec2-443c-8c4f-e8c91a380da9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        540,
        200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Name",
                "value": "={{ $json.info.Title }}"
              },
              {
                "name": "Author",
                "value": "={{ $json.info.Author }}"
              }
            ]
          }
        }
      },
      "id": "79ecc057-471e-4b89-bf4d-ed8e493c128b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        680,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "604087d2-dc04-4636-84ed-7aef3e1a3a5e",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        700,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant who utilizes Kacper's personal knowledgebase"
        }
      },
      "id": "d4b6feb4-93d9-4261-8c0c-4ce95fc06ef3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1500,
        220
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "19bc9b3d-c772-44a3-8df2-35ec475f5521",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1460,
        520
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4a5eefcd-c9c9-44ec-b111-9eae8cd41dbb",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        1620,
        500
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "knowledgebase",
        "description": "data from Kacper's knowledgebase"
      },
      "id": "6c61ef65-6a82-4660-ac48-62bfd94ef485",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        2000,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "371f9658-17ec-4672-b1b6-ba019558b754",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        1860,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3384cfad-80aa-4732-98b8-aa54d26c0274",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2280,
        600
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bbcf58a6-1dd7-4e3f-95af-9542d1d7c537",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1940,
        740
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1280,
        220
      ],
      "id": "df14fb61-817e-4c11-bdc0-8f0e64817647",
      "name": "When chat message received",
      "webhookId": "6dc68934-a7c3-4c74-a561-b0c81639664e"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1a7218e7-b693-80f5-aa7a-ff6c694c3189",
          "mode": "list",
          "cachedResultName": "RAG Knowledgebase",
          "cachedResultUrl": "https://www.notion.so/1a7218e7b69380f5aa7aff6c694c3189"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "isIndexed|checkbox",
              "condition": "does_not_equal",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        0,
        1300
      ],
      "id": "104cc2a6-8457-4d4a-8314-133b9d29c19c",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "DFu4pheXYNBPA1mA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        1300
      ],
      "id": "2ddf2357-4509-4c8f-b0f4-9530b219069b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77623351-2d1e-44ae-a5f2-13907a278902",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        360,
        1560
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "16377a2e-9cbe-4b4e-8acd-39f2b2b8f142",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        540,
        1560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "cd85a9f7-afa2-42f5-9ff2-6859bd40d6a7",
      "name": "Create Vectors from Notion",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        400,
        1300
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        1740
      ],
      "id": "ab00930d-a056-41e6-8432-3534e408d9bd",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "f37edf13-0c92-40bc-a468-2b5f0527c0db",
      "name": "Load files from local disc",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        540,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1DGyqeW4y4kjRtlALHYC0wqYHrCZizht6",
          "mode": "list",
          "cachedResultName": "CV 20232024.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1DGyqeW4y4kjRtlALHYC0wqYHrCZizht6/view?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        0
      ],
      "id": "e844dacb-4a4f-430d-a695-c3d4f50bfbe9",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5l5HwxL5luAHAKUI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "sender": "Pat @ Starter Story"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        700
      ],
      "id": "840ff51c-bdcb-4cd3-8c69-3bd0a9fcb083",
      "name": "Gmail",
      "webhookId": "d50d16c6-ab62-4283-9fef-9658ec031ed9",
      "credentials": {
        "gmailOAuth2": {
          "id": "sJlSnsyuKUMk1NjS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88877c99-6140-434a-9f03-b66c8d1b6d5f",
              "name": "Email Context",
              "value": "=Sender Email Address:\n{{ $('Gmail').item.json.from.value[0].address }}\nEmail Subject:\n{{ $('Gmail').item.json.subject }}\nEmail Date:\n{{ $('Gmail').item.json.date }}\n\nEmail Body:\n{{ $('Markdown').item.json.data.replace(/-{3,}/g, '') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        700
      ],
      "id": "d846aae3-980d-4f75-aa66-af78f8f3f76f",
      "name": "Edit Fields",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6f76b48-48c6-4d3c-82ca-7c01cc00d370",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        600,
        900
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json['Email Context'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Markdown').item.json.subject }}"
              },
              {
                "name": "Author",
                "value": "={{ $('Markdown').item.json.from.value[0].name }}"
              },
              {
                "name": "Type",
                "value": "Newsletter"
              },
              {
                "name": "label",
                "value": "={{ $('OpenAI').item.json.message.content }}"
              }
            ]
          }
        }
      },
      "id": "27e7697c-0b10-4cce-9826-12573301a80d",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        720,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "d21250cb-be31-46aa-bb91-e44883c0f9b9",
      "name": "Recursive Character Text Splitter2",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        720,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -40,
        700
      ],
      "id": "e4d09800-938f-4586-b164-5b4b533f96da",
      "name": "Markdown",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-16k",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-16K"
        },
        "messages": {
          "values": [
            {
              "content": "You are responsible for attaching a label to my email. This label describes a type of an email. Look at a sender and the piece of content to decide which label to attach.\n\nYou can only choose a label title from the list below:\n\n<list>\n- solopreneurship,\n- health,\n- others.\n</list>\n\nThere is the most important rule:\nyou should only return a word which is a label title, like:\nSolopreneurship",
              "role": "system"
            },
            {
              "content": "=Decide what label attach to this mail with a sender:\n {{ $('Gmail').item.json.from.text }}\ntitle:\n{{ $json.subject }}\ncontent:\n{{ $('Gmail').item.json.text.substring(0, 300) }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        160,
        700
      ],
      "id": "b55f51c3-5404-49a6-8b09-83616e7116ec",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "bfb08a6d-10b7-418b-9066-d72d2b54f472",
      "name": "Insert Vectors",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        600,
        700
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1540,
        540
      ],
      "id": "44a1037e-6b85-4b84-868e-4fbeecd81991",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "sJlSnsyuKUMk1NjS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nEmail body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Newsletter",
              "description": "This is any email from subscribed Newsletter, it does not include offers from shops, e-commercdes, etc. Just pure knowledge."
            },
            {
              "category": "Others",
              "description": "Emails which are everything else"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1340,
        540
      ],
      "id": "e391d739-4864-4a48-a3f0-b4443463c682",
      "name": "Text Classifier",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1340,
        700
      ],
      "id": "501b8245-68c1-4dbd-be74-039d9d165253",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -900,
        520
      ],
      "id": "50ba3746-63d2-4976-bdaa-3b9f7ac1eda7",
      "name": "Gmail1",
      "webhookId": "d50d16c6-ab62-4283-9fef-9658ec031ed9",
      "credentials": {
        "gmailOAuth2": {
          "id": "sJlSnsyuKUMk1NjS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88877c99-6140-434a-9f03-b66c8d1b6d5f",
              "name": "Email Context",
              "value": "=Sender Email Address:\n{{ $('Markdown1').item.json.from.value[0].address }}\nEmail Subject:\n{{ $('Gmail Trigger').item.json.Subject }}\nEmail Date:\n{{ $('Gmail1').item.json.date }}\n\nEmail Body:\n{{ $('Markdown1').item.json.data.replace(/-{3,}/g, '') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        880
      ],
      "id": "2f3da656-70f0-487a-b176-204bc65145f6",
      "name": "Edit Fields1",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4a10abd6-1cc8-458e-a703-353b1b9accd4",
      "name": "Embeddings OpenAI4",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1280,
        1320
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json['Email Context'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Markdown1').item.json.subject }}"
              },
              {
                "name": "Author",
                "value": "={{ $('Markdown1').item.json.from.value[0].name }}"
              },
              {
                "name": "Type",
                "value": "Newsletter"
              },
              {
                "name": "label",
                "value": "={{ $('OpenAI1').item.json.message.content }}"
              }
            ]
          }
        }
      },
      "id": "6fe92d05-56be-49a9-8521-a8048e97b480",
      "name": "Default Data Loader3",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1140,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "8d6e534b-1ab3-47ad-97bf-29d975eed2c3",
      "name": "Recursive Character Text Splitter3",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1160,
        1480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -1120,
        880
      ],
      "id": "1c7c89e2-50c1-4c8f-8420-cb609a7692ef",
      "name": "Markdown1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-16k",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-16K"
        },
        "messages": {
          "values": [
            {
              "content": "You are responsible for attaching a label to my email. This label describes a type of an email. Look at a sender and the piece of content to decide which label to attach.\n\nYou can only choose a label title from the list below:\n\n<list>\n- solopreneurship,\n- health,\n- others.\n</list>\n\nThere is the most important rule:\nyou should only return a word which is a label title, like:\nSolopreneurship",
              "role": "system"
            },
            {
              "content": "=Decide what label attach to this mail with a sender:\n{{ $('Gmail Trigger').item.json.From }}\ntitle:\n{{ $json.subject }}\ncontent:\n{{ $('Gmail Trigger').item.json.snippet }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -920,
        880
      ],
      "id": "7e7324db-3d09-4405-bc79-1624bdc3e1d2",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zwCoTxavt4ELUwZx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "c53f90aa-6248-4f5c-9bcb-4fbea76b52da",
      "name": "Insert Vectors1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        -1160,
        1100
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "HN8MS4EGX4BmUQrw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-11T13:48:30.000Z",
  "versionId": "d6922284-5ad5-4026-8f25-82ae7c389593"
}